[Unit]
Description=Cosmos Daemon Service
After=network.target

[Service]
User=unigrid
ExecStart=/usr/local/bin/paxd start --home=/home/unigrid/.pax --p2p.seeds --p2p.seeds "06ed85d8b34ca3a4275072894fc297dce416b708@194.233.95.48:26656,e339ab8163a2774fccbc78ff09ffbf0991adc310@38.242.156.2:26656"
Restart=always
RestartSec=3
StandardOutput=file:/home/unigrid/.pax/paxd.log
StandardError=file:/home/unigrid/.pax/paxd-error.log

[Install]
WantedBy=multi-user.target
