[Unit]
Description=Cosmos Daemon Service
After=network.target

[Service]
User=unigrid
ExecStart=/usr/local/bin/paxd start --home=/home/unigrid/.unigrid-testnet-1 --p2p.seeds "e5e85ef8eaa493c566108823519bd2c89b3a7803@194.233.95.48:26656,666d2cc217a5aef8b6b7fc8608706df76640b42a@38.242.156.2:26656"
Restart=always
RestartSec=3
StandardOutput=file:/home/unigrid/.unigrid-testnet-1/paxd.log
StandardError=file:/home/unigrid/.unigrid-testnet-1/paxd-error.log

[Install]
WantedBy=multi-user.target
