[Unit]
Description=Cosmos Daemon Service
After=network.target

[Service]
User=unigrid
ExecStart=/usr/local/bin/paxd start --home=/home/unigrid/.unigrid-testnet-1 --p2p.seeds --p2p.seeds "8f278bf57932e1f808aefc7c82aaaf130470e2bd@194.233.95.48:26656,e339ab8163a2774fccbc78ff09ffbf0991adc310@38.242.156.2:26656"
Restart=always
RestartSec=3
StandardOutput=file:/home/unigrid/.unigrid-testnet-1/paxd.log
StandardError=file:/home/unigrid/.unigrid-testnet-1/paxd-error.log

[Install]
WantedBy=multi-user.target
